.app-layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #090909;
  color:#f5f2e8
}

.app-layout_main{
  flex:1 1 auto;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}